{% extends 'base.html.twig' %}

{% block title %}Mr.U-Smiley Connexion{% endblock %}

{% block body %}
<section class="bg-white pt-[200px]">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-100 lg:py-0">
      <div class="w-full bg-gray-50 rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      {% for message in app.flashes('success') %}
        <div class="text-center p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50">
            {{ message }}
        </div>
      {% endfor %}
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-center text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                  Connexion
              </h1>
              <form class="space-y-4 md:space-y-6" method="post">
              {# message erreur de connexion #}
                {% if error %}
                    <div class="bg-red-100 text-red-800 text-xs text-center font-medium me-2 px-2.5 py-1 rounded dark:bg-red-900 dark:text-red-300">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Bienvenue {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                {% endif %}

                  <div>
                      <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                      <input type="email" value="{{ last_username }}" name="_username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" autocomplete="email" required autofocus>
                  </div>
                  <div>
                      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mot de passe</label>
                      <input type="password" name="_password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" autocomplete="current-password" required>
                  </div>
                  <div class="flex items-center justify-between">
                      <div class="flex items-start">
                          <div class="flex items-center h-5">
                            <input id="remember" name="remember_me" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" checked required>
                          </div>
                          <div class="ml-3 text-sm">
                            <label for="remember" class="text-gray-500 dark:text-gray-300">Mémoriser-moi</label>
                          </div>
                      </div>
                      <a href="#" class="text-sm font-medium text-gary-500 hover:underline">Mot de passe oublié ?</a>
                  </div>

                   <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
                  <button type="submit" class="w-full text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Se connecter</button>
                  <p class="text-center text-sm text-gray-500">Pas de compte?<a href="{{ path('app_register') }}" class="hover:underline">Inscrivez-vous</a></p>
              </form>
          </div>
      </div>
  </div>
</section>
{% endblock %}